/* 
    Document   : style
    Created on : 23.01.2014, 16:23:10
    Author     : Chris
    Description:
        Purpose of the stylesheet follows.
*/

        

body{
    height:100%;
    width: 100%;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, sans;
    font-weight: 300;
    margin: 0;
}

p.small{
    font-weight: 200;
}
aside{
    padding-left: 3.33%;
    margin-top:20%;
    height:100%;
    width:20%;
    float:left;
    margin-left: auto; 
    margin-right: auto;
   
}

header.normal {
    position: fixed;
    top: 0;
    background-color: white;
    height: auto;
    width: 100%;
}
img.dino{
    
      display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 5%;
    height: auto;
}

input{
    width: 60%; 
    line-height:37px;
    text-indent:5px; 
    font-family:arial, sans-serif; 
    font-size:1em; 
    color:#333; 
    background: #fff; 
    border:solid 1px #d9d9d9; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main { 
    padding:0px;
    padding-top: 10%;
    height:80%;
    width: 55%; 
    margin:0px auto;
    text-align:center;
    display: block;
     float: none;
    
}

li[data-selected='true'] {
    color: red;
}

h2{
    font-family: 'Lato', sans-serif;
}
img.mini{
    
    display: block;
    margin-top:2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 33%;
    height: auto;
    
}
img.search{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: auto;
    
}



ul{
    width:80%;
    list-style:none;
    margin: auto;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    
    
}

li{
    
    display:inline-block;
    margin:1em;
        
}
li.tag{
    
    text-align:left;
    display:inline;
     margin:0;
  
}
li.group{
    
    text-align:left;
    display:inline;
     margin:0;
  
}

li.img{
  
    max-width: 9.99%;
    height: auto;
  
    
    
}
 #roles img {
            max-width: 3%;
          }

          #roles li {
            display: inline;
            
          }

          @media screen and (max-width: 400px) {
            aside {
              float: none;
            }
          }
section{
    margin-top: 9.99%;
}
article{
    text-align: left;
    text-indent:3%;
   border: 1px solid black;
   margin:3%;
    cursor: pointer;
  
}
table{
    width:100%;
    padding-bottom: 1em;
    text-align: left;
}
audio{
   display: table;
    margin: auto;
    margin-top: 1em;
}
video{
   display: table;
    margin: auto;
    margin-top: 1em;
}
iframe{
   display: table;
    margin: auto;
    margin-top: 1em;
}

[data-selected="true"] {
    /* Styles */
    color: #898C90;
}

/**************************/
/***** Start interface ****/
/**************************/

header.intro {
    height: 40%;
    top: 30%;
    position: absolute;
    /*background-image: url('../pictos/mac.png');*/
}

header.intro img.dino {
    display: block;
    margin: 0 auto;
    max-width: 12%;
    min-width: 80px;
}

header.intro input {
    margin: 2% auto  0;
    display: block;
    max-width: 40%;
    min-width: 300px;
}

header.intro ul {
    display: block;
    margin: 1% auto 0;
    padding: 0;
}

header.intro ul#roles li {
    margin: 0 1%;
}

header.intro ul#roles img {
    max-width: 4%;
    min-width: 30px;
}
