/* 
    Document   : style
    Created on : 23.01.2014, 16:23:10
    Author     : Chris
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    padding-top: 10%;
    height:66.66%;
    width: 66.66%;
    text-align: center;
    display: block;
    
}
input{
    width: 80%;
}
ul{
    width:100%;
}
li {
    
}
li{
    width:20px;
    height:20px;
}

article{
    border: 0.5px solid #ff3300;
}